<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<link rel="stylesheet" type="text/css" href="template/aiyudi_x1/image/index.css" />
<div class="wp">
	<div class="wp a_m10"><!--{ad/custom_2}--></div>
	<!--[diy=diy801]--><div id="diy801" class="area"></div><!--[/diy]-->
    <!--第一层开始-->
    <div class="onelayer">
    	<div class="foucs">
            <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
        </div>
        <div class="weiguan">
        	<div class="weig-tit"></div>
            <!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
        </div>
        <div class="toprighta">
				<!--[diy=diy040501]--><div id="diy040501" class="area"></div><!--[/diy]-->        
       <img src="template/aiyudi_x1/image/ad21.gif" width="180px"/>
        </div>
        
    </div>
    <!--第一层结束-->
	<!--[diy=diy802]--><div id="diy802" class="area"></div><!--[/diy]-->
    <!--全媒体开始-->
    <div class="allmt">
      		<div style="width:980px; height:100px;"><img src="template/aiyudi_x1/image/banner1.jpg" width="980px" height="100px" /></div>
   
      </div>
    <!--全媒体结束-->
	<!--[diy=diy803]--><div id="diy803" class="area"></div><!--[/diy]-->

      <div class="wp a_m10"><!--{ad/custom_3}--></div>
	  <!--[diy=diy804]--><div id="diy804" class="area"></div><!--[/diy]-->
      <!--生活开始-->
      <div class="shenghuo">
      		<div class="shtit"><p><a href="#" target="_blank">茶余饭后</a><a href="#" target="_blank" class="reds"></a> | 
            <a href="#">开心生活</a><a href="#" target="_blank" class="reds"></a> | 
             <a href="#">有生活</a><a href="#" target="_blank" class="reds"></a> 
            </p></div>
            <div class="leftsh">
            	<!--[diy=diy7]--><div id="diy7" class="area"></div><!--[/diy]-->
            </div>
            <div class="midsh">
            	<div class="sh-head">
                	<!--[diy=diy8]--><div id="diy8" class="area"></div><!--[/diy]-->
                </div>
                <!--[diy=diy99]--><div id="diy99" class="area"></div><!--[/diy]-->
            </div>
            <div class="rigsh">
            	<div class="rigsh-tit">
            	  <h5><span><a href="#" target="_blank">更多>></a> </span><a href="#" target="_blank">本周活动</a></h5></div>
                <!--[diy=diy10]--><div id="diy10" class="area"></div><!--[/diy]-->
                <!--[diy=diy11]--><div id="diy11" class="area"></div><!--[/diy]-->
            </div>
      </div>
      <!--生活结束-->
	  <!--[diy=diy805]--><div id="diy805" class="area"></div><!--[/diy]-->
      <!--评论开始-->
      <div class="pinglun">
<div class="gather-item cf">

<h2 class="itemhead" style="width:905px;">
<span class="greenline size_3">
<img src="template/aiyudi_x1/image/101.jpg" />
</span>
</h2>

<ul class="cf" id="recommend_ul">

   <!--[diy=diy995]--><div id="diy995" class="area"></div><!--[/diy]-->
  
  </ul>
  </div>
      </div>
      <!--评论结束-->
       <!--全媒体开始-->
    <div class="allmt">
      		<div style="width:980px; height:100px;"><img src="template/aiyudi_x1/image/banner2.jpg" width="980px" height="100px" /></div>
   
      </div>
    <!--全媒体结束-->
      
	  <!--[diy=diy806]--><div id="diy806" class="area"></div><!--[/diy]-->
      <!--娱乐开始-->
      <div class="yule">
      		<div class="yuletit">
      		  <p><a href="#" target="_blank" class="reds">动漫贴图</a> | <a href="#" target="_blank" class="reds">开心趣测</a> </p></div>
            <div class="huaba">
            	<div class="hb-tit"><h5><span>每个人都是生活的记者</span>开心趣测</h5></div>
                <!--[diy=diy18]--><div id="diy18" class="area"></div><!--[/diy]-->
                <!--[diy=diy19]--><div id="diy19" class="area"></div><!--[/diy]-->
            </div>
            <div class="tuba">
            	<div class="tuba-head">
                	<!--[diy=diy20]--><div id="diy20" class="area"></div><!--[/diy]-->
                </div>
                <!--[diy=diy21]--><div id="diy21" class="area"></div><!--[/diy]-->
            </div>
      
      </div>
      <!--娱乐结束-->
	  <!--[diy=diy807]--><div id="diy807" class="area"></div><!--[/diy]-->
      <!--趣图开始-->
      <div class="qutu">
      		<div class="qututit"><p><a href="#" target="_blank" class="reds">更多图片>></a></p></div>
            <div class="qutu-left">
            	<!--[diy=diy24]--><div id="diy24" class="area"></div><!--[/diy]-->
            </div>
            <div class="rig-qutu">
            	<!--[diy=diy25]--><div id="diy25" class="area"></div><!--[/diy]-->
            </div>
      </div>
      <!--趣图结束-->
      <!--全媒体开始-->
    <div class="allmt">
      		<div style="width:980px; height:100px;"><img src="template/aiyudi_x1/image/banner2.jpg" width="980px" height="100px" /></div>
   
      </div>
    <!--全媒体结束-->
	  <!--[diy=diy808]--><div id="diy808" class="area"></div><!--[/diy]-->
      <!--友情开始-->
      <div class="friend">
      		  <div class="gw_fot2">
  <div class="yudi2_tou">
    <div class="yudi2_tou_w">
      <div class="yudi2_tou_w1">关于我们</div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">看达人</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">逛店铺</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
    </div>
    <div class="yudi2_tou_w">
      <div class="yudi2_tou_w1">获取帮助</div>
      <div class="yudi2_tou_w2"><a href="#" class="b">新手指南</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">网站地图</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">逛店铺</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">意见簿</a></div>
    </div>
    <div class="yudi2_tou_w">
      <div class="yudi2_tou_w1">关于我们</div>
      <div class="yudi2_tou_w2"><a href="#" class="b">关于语滴</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">联系我们</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">加入我们</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">广告投放与合作</a></div>
    </div>
    <div class="yudi2_tou_w">
      <div class="yudi2_tou_w1">更多</div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
    </div>
    <div class="yudi2_tou_w">
      <div class="yudi2_tou_w1">发现美丽</div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
      <div class="yudi2_tou_w2"><a href="#" class="b">挑衣服</a></div>
    </div>
  </div>
      </div>
      <!--友情结束-->
</div>
<br />
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=$_GET['diy']&r={echo random(4)}" type="text/javascript"></script>
<!--{subtemplate common/footer}-->
